<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link rel="shortcut icon" href="#">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app2.js"></script>
</head>
<body>
    <h3>Alerts</h3>
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
