<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
</style>
</head>
<body>
    <!--
    <p th:text="'Hi, ' + ${teste} + '!'" />
    -->
    <p th:text="'Time of request: ' + ${time}" />
    
    <p>Airplanes currently in Switzerland airspace</p>
    
    <table>
    <thead>
        <tr>
          <th>icao24</th>
          <th>callsign</th>
          <th>origin_country</th>
          <th>time_position</th>
          <th>last_contact</th>
          <th>longitude</th>
          <th>latitude</th>
          <th>baro_altitude</th>
          <th>on_ground</th>
          <th>velocity</th>
          <th>true_track</th>
          <th>vertical_rate</th>
          <th>sensors</th>
          <th>geo_altitude</th>
          <th>squawk</th>
          <th>spi</th>
          <th>position_source</th>
        </tr>
    </thead>
    <tbody>

        <tr th:each="state : ${states}">
            <td><span th:text="${state[0]}"></span></td>
            <td><span th:text="${state[1]}"></span></td>
            <td><span th:text="${state[2]}"></span></td>
            <td><span th:text="${state[3]}"></span></td>
            <td><span th:text="${state[4]}"></span></td>
            <td><span th:text="${state[5]}"></span></td>
            <td><span th:text="${state[6]}"></span></td>
            <td><span th:text="${state[7]}"></span></td>
            <td><span th:text="${state[8]}"></span></td>
            <td><span th:text="${state[9]}"></span></td>
            <td><span th:text="${state[10]}"></span></td>
            <td><span th:text="${state[11]}"></span></td>
            <td><span th:text="${state[12]}"></span></td>
            <td><span th:text="${state[13]}"></span></td>
            <td><span th:text="${state[14]}"></span></td>
            <td><span th:text="${state[15]}"></span></td>
            <td><span th:text="${state[16]}"></span></td>
        </tr>
    </tbody>
</table>
</body>
</html>
