<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
</style>
</head>
<body>
    <!--
    <p th:text="'Hi, ' + ${teste} + '!'" />
    -->
    
    <h2>Select the time interval to see information about airplanes that departure from Zurique Airport since April 01</h2>
    
    <table>
    <thead>
        <tr>
          <th>icao24</th>
          <th>Departure time</th>
          <th>Departure Airport</th>
          <th>Arrival time</th>
          <th>Arrival Airport</th>
          <th>Call Sign</th>
     
        </tr>
    </thead>
    <tbody>

        <tr th:each="flight : ${flights}">
            <td><span th:text="${flight.icao24}"></span></td>
            <td><span th:text="${flight.getFirstSeenFormated()}"></span></td>
            <td><span th:text="${flight.estDepartureAirport}"></span></td>
            <td><span th:text="${flight.getLastSeenFormated()}"></span></td>
            <td><span th:text="${flight.estArrivalAirport}"></span></td>
            <td><span th:text="${flight.Callsign}"></span></td>
            
           
        </tr>
    </tbody>
</table>
</body>
</html>